In [114]:
import pandas as pd

In [115]:
likes = pd.read_csv('../data/_like__202307201554.csv')
# session = pd.read_csv('../data/_session__202307201554.csv')
outfit = pd.read_csv('../data/outfit_202307201554.csv')
# similar = pd.read_csv('../data/_similar__202307201554.csv')
# user =pd.read_csv('../data/_user__202307201554.csv')

# Data Base: postgres
- likes<br>
좋아요 클릭
- similar<br>
유사한 아이템 목록
- user<br>
회원 정보
- outfit<br>
옷 메타 정보

In [128]:
likes.head(5)

,like_id,session_id,user_id,outfit_id,timestamp,like_type,is_deleted,as_login
0,1,66178898-dfb6-4de4-8f2a-cb09e3ccbe11,NaN,73016,2023-07-18 23:53:25.086,journey,False,False
1,2,66178898-dfb6-4de4-8f2a-cb09e3ccbe11,NaN,79507,2023-07-18 23:53:25.715,journey,False,False
2,3,7221dea7-71a9-4387-9a0e-96325662b63b,NaN,88572,2023-07-18 23:53:53.555,journey,False,False
3,4,7221dea7-71a9-4387-9a0e-96325662b63b,NaN,88731,2023-07-18 23:53:54.075,journey,False,False
4,5,7221dea7-71a9-4387-9a0e-96325662b63b,NaN,78346,2023-07-18 23:53:55.314,journey,False,False

In [132]:
likes['session_id'].nunique()

179

## Side Information

In [118]:
outfit.head(2)

,outfit_id,img_url,gender,age,origin_url,reporter,tags,brands,region,occupation,style,date
0,87435,https://codidatabucket.s3.ap-northeast-2.amazo...,F,21.0,https://www.musinsa.com/mz/streetsnap/view/87435,라이트 그레이 컬러의 엠엘비 청키 라이너 스니커즈를 매칭한 룩입니다.,"{겨울,캐주얼,여성,스니커즈,엠엘비}",{엠엘비},신사/압구정,학생,캐주얼,2022-12-30 00:00:00.000
1,87434,https://codidatabucket.s3.ap-northeast-2.amazo...,F,22.0,https://www.musinsa.com/mz/streetsnap/view/87434,화이트 컬러의 엠엘를 청키 라이너 스니커즈를 매칭한 룩입니다.,"{겨울,캐주얼,여성,스니커즈,엠엘비}",{엠엘비},신사/압구정,전문직/프리랜서,캐주얼,2022-12-29 00:00:00.000

In [119]:
#columns = ['outfit_id', 'img_url', 'gender', 'age', 'origin_url', 'reporter', 'tags', 'brands', 'region', 'occupation', 'style', 'date']

selected_columns = ['outfit_id', 'gender', 'age', 'tags', 'brands', 'style', 'date']
selected_outfit = outfit[selected_columns]
selected_outfit.rename(columns={'date': 'outfit_date'}, inplace=True)

/opt/conda/envs/jun/lib/python3.9/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [120]:
selected_outfit['tags'] = selected_outfit['tags'].apply(lambda x: [tag.strip('"') for tag in x.strip('{}').split(',')])
selected_outfit['brands'] = selected_outfit['brands'].fillna('').apply(lambda x: [brand.strip('"') for brand in x.strip('{}').split(',')])

<ipython-input-120-6ec147a53de5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_outfit['tags'] = selected_outfit['tags'].apply(lambda x: [tag.strip('"') for tag in x.strip('{}').split(',')])
<ipython-input-120-6ec147a53de5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_outfit['brands'] = selected_outfit['brands'].fillna('').apply(lambda x: [brand.strip('"') for brand in x.strip('{}').split(',')])

In [122]:
selected_outfit['outfit_date'] = pd.to_datetime(selected_outfit['outfit_date']).dt.date

<ipython-input-122-21b5e0e0a62c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_outfit['outfit_date'] = pd.to_datetime(selected_outfit['outfit_date']).dt.date

In [123]:
selected_outfit

,outfit_id,gender,age,tags,brands,style,outfit_date
0,87435,F,21.0,"[겨울, 캐주얼, 여성, 스니커즈, 엠엘비]",[엠엘비],캐주얼,2022-12-30
1,87434,F,22.0,"[겨울, 캐주얼, 여성, 스니커즈, 엠엘비]",[엠엘비],캐주얼,2022-12-29
2,87433,F,30.0,"[겨울, 캐주얼, 여성, 스니커즈, 엠엘비]",[엠엘비],캐주얼,2022-12-29
3,87432,F,21.0,"[겨울, 캐주얼, 여성, 스니커즈, 엠엘비]",[],캐주얼,2022-12-29
4,87428,F,22.0,"[겨울, 캐주얼, 여성, 스니커즈, 엠엘비]",[엠엘비],캐주얼,2022-12-29
...,...,...,...,...,...,...,...
10424,71873,M,NaN,"[남성, 반팔 티셔츠, 데님 팬츠, 스니커즈, 발렌시아가, 여름, 스트릿]",[발렌시아가],스트릿,2021-06-14
10425,71801,M,NaN,"[남성, 반팔 셔츠, 치노 팬츠, 샌들, 여름, 캐주얼]",[],캐주얼,2021-06-09
10426,73922,M,29.0,"[유니클로, 컨버스, 여름, 스트릿]",[컨버스],스트릿,2021-08-23
10427,72586,M,NaN,"[미니, 크로스 백, 컨버스, 데우스 엑스 마키나, 여름, 스트릿]","[컨버스, 데우스 엑스 마키나]",스트릿,2021-07-06
10428,71640,M,30.0,"[남성, 워크 캡, 오버 롤, 셔츠, 워커, 여름, 아메리칸 캐주얼]",[],아메리칸 캐주얼,2021-06-03